*{
  font-family: Verdana;
}

body {
    background-color: White;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#headerContainer{
  grid-area: header;
  background-color: turquoise;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0px;
}

canvas {
    width: 75vw;
    height: 75vh;
    border: 1px solid black;
    /* width: 600px; */
    /* height: 600px; */
}

#canvas {
  background-color: White;
  grid-area: main;
}

.lil-gui.autoPlace{
  top: 15vh;
  right: 5vw;
}

#uiContainer {
  position: absolute;
  top: 15vh;
  right: 5vw;
  z-index: 3;
  font-family: monospace;
  pointer-events: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  border: 1px solid turquoise;

  text-shadow:
   -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
#ui {
  opacity: 0.8;
}
#ui>div {
  pointer-events: none;
}
#ui input, #ui select, #ui option, #ui canvas {
  pointer-events: auto;
}

.gman-slider-label, .gman-widget-label, .gman-checkbox-label {
  font-size: large;
  min-width: 5em;
  text-align: right;
}
.gman-checkbox-label {
  pointer-events: auto;
}
.gman-widget-value {
  float: right;
  font-size: large;
  order: 1;
  min-width: 3em;
}

.gman-slider-upper {
  height: 1.5em;
}
.gman-slider-outer, .gman-widget-outer {
  float: right;
  display: flex;
  align-items: center;
  height: 1.7em;
  padding: 2px;
}
.gman-widget-slider, .gman-widget-checkbox, .gman-widget-select {
  opacity: 0.5;
  font-size: large;
  margin-left: .3em;
  margin-right: .3em;
}
.gman-widget-select {
  font-size: small;
}
.gman-widget-slider {
  min-width: 120px;
}

