*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: White;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#headerContainer{
  grid-area: header;
  background-color: HotPink;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0px;
}

canvas {
    width: 75vw;
    height: 75vh;
    border: 1px solid black;
    /* width: 600px; */
    /* height: 600px; */
}

#canvas {
  background-color: White;
  grid-area: main;
}

.lil-gui.autoPlace{
  top: 15vh;
  right: 5vw;
}

#backButton {
    margin: 10px;
}
